.icon-48-portfolioitems {
      background-image: url(../images/l_portfolioitems.png);
      padding-left:60px!important;
}

.icon-48-portfolioitem {
      background-image: url(../images/l_portfolioitems.png);
      padding-left:60px!important;
}

