.icon-48-galleries {
      background-image: url(../images/l_galleries.png);
      padding-left:60px!important;
}

.icon-48-gallery {
      background-image: url(../images/l_galleries.png);
      padding-left:60px!important;
}

