.icon-48-faqs {
      background-image: url(../images/l_faqs.png);
      padding-left:60px!important;
}

.icon-48-faq {
      background-image: url(../images/l_faqs.png);
      padding-left:60px!important;
}

