.icon-48-artists {
      background-image: url(../images/l_artists.png);
      padding-left:60px!important;
}

.icon-48-artist {
      background-image: url(../images/l_artists.png);
      padding-left:60px!important;
}

