/**
 * @copyright	Copyright (C) 2005 - 2013 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

body {
	background: #fff;
	font-family: Tahoma,Helvetica,Arial,sans-serif;
	line-height: 1.3em;
	font-size: 76%;
	color: #333;
}

h1 {
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #000;
}

h2 {
	font-family: Arial, Helvetica,sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

h3 {
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 26px;
  color: #000;
}

h4 {
	font-weight: bold;
    font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

h5 {
	font-weight: bold;
    font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

h6 {
	font-weight: bold;
    font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

a:link, a:visited {
	color: #1B57B1; text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #00c;	text-decoration: underline;
	font-weight: normal;
}

.label {
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    padding-right:10px;
    background-color:#000;
    color:#fff;
    line-height:1.5;
    font-size:14px;
}
hr {
    margin-top:30px;
    margin-bottom:30px;
    padding: 0;
    border: none;
    height:1px;
    background-color:#aa1111;
    background: -webkit-linear-gradient(left, #000, #000 30%, #aa1111 30%, #aa1111);
    clear:both;
}