/* ================= FONTS ================== */

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ================= GENERAL STYLES ================== */

::-moz-selection {
	color:#fff;
	text-shadow:none;
	background:#aa1111;
}
::selection {
	color:#fff;
	text-shadow:none;
	background:#aa1111;
}
::-webkit-scrollbar {
	width:5px;
}
::-webkit-scrollbar-thumb {
	background:#fff;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#fff;
}
html, body{
	margin: 0;
	padding: 0;
}
body{
    background-color:#000;
    color:#fff;
    font-family: 'open_sansregular';
    font-weight:normal;
    font-size:13px;
}
img {
    -ms-interpolation-mode:bicubic;
    image-rendering:optimizeQuality;
}
h1, h2, h3, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:15px;
    padding:0px;
    line-height:1;
    font-family: 'oswaldbold';
    font-weight:bold;
}
h1 {
    font-size:55px;
}
h2 {
    font-size:47px;
}
h3 {
    font-size:40px;
}
h4 {
    font-size:34px;
}
h5 {
    font-size:28px;
}
h6 {
    font-size:22px;
}
.show
{
    display:block !important;
}
.hide
{
    display:none !important;
}
.clear {
    clear:both;
}
hr {
    margin-top:30px;
    margin-bottom:30px;
    padding: 0;
    border: none;
    height:1px;
    background-color:#aa1111;
    background: -webkit-linear-gradient(left, #fff, #fff 30%, #aa1111 30%, #aa1111);
    clear:both;
}
p {
    font-size:13px;
    line-height:1.5;
    margin-bottom:21px;
    margin-top:0px !important;
    font-family: 'open_sansregular';
    font-weight:normal;
    color:#c7c7c7;
    word-spacing: 0.2em;
}
p:last-child
{
    margin-bottom:0px;
}
a {
	color: #fff;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	-ms-transition: color 0.4s ease-in-out;
	text-decoration:none;
}
a:hover {
	color: #aa1111;
}
strong {
    font-family: 'open_sansbold';
    font-weight: bold;
}
i, em {
    font-family: 'open_sansitalic';
    font-style: italic;
}

#ascensorBuilding {
	overflow:hidden !important;
    background-color:#000;
}
#ascensorBuilding article {
    overflow: hidden !important;
    background-color:#000;
}

/* ================= PAGES ================== */

.content
{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top:35px;
}
/* ================= CONTACT ================== */

input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea
{
    border: 1px solid #aa1111;
    width: 100%;
    max-width:400px;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 14px;
    margin: 0px 0px 11px 0px;
    padding: 5px 10px 5px 10px;
    height: 35px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}
input[type="text"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="date"].oversize {
	font-size:15px;
	padding:4px 5px
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, textarea:focus {
	outline:none !important;
	border-color:#fff;
}
input[type="submit"] {
	margin-top:14px;
}
textarea {
	height:100px;
	width:100%;
	margin-bottom:0px !important;
}
.button, input[type="submit"] {
	width: auto;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	margin: 5px 20px 0px 0px;
	outline: none;
	padding: 15px 25px 16px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
	border: none !important;
	background-color:#aa1111;
}
.button:hover, input[type="submit"]:hover {
	background-color:#fff;
    color:#000 !important;
}
.searchbox {
    margin-top:30px;
}