

	.clear {
		clear: both;
	}

	header {
		opacity: 0.6 !important;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 26px;
	}

	#main-menu {
		background-color: rgba(218, 215, 215, 0.29);
	}

	.content ul{
		list-style: none;
	}

	.below_testimonials {

	}

	div.content h5 a {
	color: #7a7a7a;
	}

	div.content h5 a:hover {
	color: #d2d2d2;
	}



/**
* Projekte
**/

	.pro_img {
		margin-left: 50px;
	}
	.pro_player {
		
	}

	/**
	* Submenue Back Home hide
	**/

		#sub-menu .nav.menu .item-132 {
			display: none;
		}


	/**
	* 2nd Lay Text 
	**/
	
		.second_layer {
			font-family: 'oswaldbold';
			font-size: 21px;
			color: #fff;
			font-weight: normal;
			text-shadow: none;
			/*background: #aa1111;*/
		}

		.leistung p {

			line-height: 20px;
		}

		.leistung {
			background: rgba(0, 0, 0, 0.2);
			border-left: 1px solid #aa1111;
			border-right: 1px solid #aa1111;
			padding: 10px;
		}

		.leistung ul {
			list-style: inherit;
		}

/**
* Sliders - Music
**/

	.accordion-group.panel:before {
		content: " + ";
		margin: 0px 10px 0px 0px;
		padding: 1px 5px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		float: left;
		font-size: 1.2em;
	}

	.accordion-group.panel.active:before {
		content: " - ";
		color: rgba(170, 17, 17, 0.5);
		margin: 0px 10px 0px 0px;
		padding: 1px 7px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		float: left;
		font-size: 1.2em;
	}


	.nn_sliders.accordion>.accordion-group>.accordion-heading>a.accordion-toggle:hover {
		background-color: rgba(238, 238, 238, 0.52);
		color: #000;
		text-decoration: none;
	}

	.nn_sliders.accordion>.accordion-group.active>.accordion-heading>a.accordion-toggle {
		background-color: rgba(255, 255, 255, 0.7);
		color: #000;
	}

	/**
	* Music Player
	**/

		#html5player89_display_button,
		#html5player90_display_button,
		#html5player91_display_button {
			background-color: #000;
			opacity: 0.85 !important;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			background-image: none !important;
		}


		/**
		* Content Menue Bckgr IMG
		**/

			.cont_back {
				background-size: cover;
				width: 100%;
				height: 100%;
				left: 0px; 
				top: 0px; 
                margin: 0px; 
                padding: 0px; 
                z-index: -999999; 
                position: absolute;
			}

			.cont_back img {
				/*width: 100%;*/
				height: 100vh;
			}

/**
* Content Menue Dropdown
**/

	ul.menu li:hover > ul
	{
		visibility:visible;
		opacity: 0.9;
	}

	ul.menu ul, ul.menu ul li ul {
		list-style: none;
		margin: 0;
		padding: 0;    
		visibility:hidden;
		position: absolute;
		z-index: 99999;
		width:180px;
		box-shadow:1px 1px 3px #ccc;
		opacity:0;
		
		-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
		transition:opacity 0.2s linear, visibility 0.2s linear; 	
	}

	ul.menu ul {
		top: 43px;

	}

	ul.menu ul li ul {
		top: 0;
		left: 100px !important;
	}

	ul.nav-child.unstyled.small {
		display: block;
	}


	ul.menu ul li {
		clear:both;
		width: 100%;
		border:0 none;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}

			ul.menu ul li:last-child {
				border-bottom: none;
			}

	ul.menu ul li a {
		background:none;
		padding:0px 15px;
		text-decoration:none;
		display:inline-block;
		border:0 none;
		float:left;
		clear:both;
		width:150px;
	}

	ul.menu li a.first {
		border-left: 0 none;
	}

	ul.menu li a.last {
		border-right: 0 none;
	}


		#main-menu ul li ul {
			top: 55px !important;
			width: auto !important;
		}

		#main-menu ul li ul li ul {
			top: 10px !important;
		}
		
/*		#main-menu .menu ul li a:hover {
			transition: background-color 0.3s;
		}
		
		#main-menu ul li.active ul li.active a, #main-menu ul li ul li a:hover {
			background-color: rgba(179, 179, 179, 0.28);
		} */
	
#main-menu ul ul:after {
	content: none;
}

/**
* Unterpunkt triangle per ID
**/
li.item-134:after {
	border: solid transparent;
	border-color: transparent;
	border-left-color: #7a7a7a;
	border-width: 31px;
	top: 24% ;
	margin-top: -30px;
	left: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
li.item-135:after {
	border: solid transparent;
	border-color: transparent;
	border-left-color: #7a7a7a;
	border-width: 31px;
	top: 74% ;
	margin-top: -30px;
	left: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

		/**
		* Menu id = leer -> Untermenue ausblenden
		**/
		ul.home.nav.menu li ul{
			display: none;
		}


	/*Fb Button*/

	#fbLike {
		position: absolute;
		margin: 0px 10px 10px 30px;
	}

	#fbLike img {
		padding-right: 5px;
	}