/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}


html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}


html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

p,
pre {
    margin: 1em 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}


q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal; /* 1 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}
@-moz-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
}
@-o-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	-o-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@-o-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
}

@-moz-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
}

@-o-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}
@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
}

@-moz-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
}

@-o-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-o-transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	
	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-o-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

/* ================= FONTS ================== */

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ================= GENERAL STYLES ================== */

::-webkit-scrollbar {
	width:5px;
}
::-webkit-scrollbar-thumb {
	background:#fff;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#fff;
}
html, body{
	margin: 0;
	padding: 0;
}
body{
    background-color:#000;
    color:#fff;
    font-size:13px;
    overflow:hidden;
}
img {
    -ms-interpolation-mode:bicubic;
    image-rendering:optimizeQuality;
}
h1, h2, h3, h4, h5, h6 {
    margin-top:0px;
    margin-bottom:15px;
    padding:0px;
    line-height:1;
}
h1 {
    font-size:55px;
}
h2 {
    font-size:44px;
}
h3 {
    font-size:36px;
}
h4 {
    font-size:30px;
}
h5 {
    font-size:24px;
}
h6 {
    font-size:20px;
}
.show
{
    display:block !important;
}
.hide
{
    display:none !important;
}
.clear, .clr {
    clear:both;
}
hr {
    margin-top:30px;
    margin-bottom:30px;
    padding: 0;
    border: none;
    height:1px;
    clear:both;
}
p {
    font-size:13px;
    line-height:1.5;
    margin-bottom:21px;
    margin-top:0px !important;
    color:#c7c7c7;
    word-spacing: 0.2em;
}
p:last-child
{
    margin-bottom:0px;
}
a {
	color: #fff;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	-ms-transition: color 0.4s ease-in-out;
	text-decoration:none;
}
label
{
    font-size:13px;
    line-height:1.7;
}
.label {
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    padding-right:10px;
    background-color:#000;
    color:#fff;
    line-height:1.5;
    font-size:14px;
}
.highlight {
    background-color:#000 !important;
    color:#fff !important;
}
fieldset {
    border-color:#000 !important;
    color:#c7c7c7;
}
fieldset legend {
    color:#fff;
}
fieldset,.form-limit {
    margin-bottom:30px;
}
fieldset label {
    margin-right:10px;
}
fieldset input {
    margin-right:5px;
}
.ordering-box {
    margin-top:10px;
    margin-bottom:3px;
}
select {
    padding:3px;
}
.subcat {
    font-size:14px;
    margin:0px;
    padding:0px;
    list-style:none;
}
.archive-button {
    margin-top:10px;
}
#archive-items, .article-info dd {
    margin:0px;
    padding:0px;
    list-style:none;
}
#archive-items li {
    margin-top:30px;
}
.result-title {
    font-size:22px;
    margin-top:20px;
}
.accordion-content {
    color:#c7c7c7;
}
.search-results dd {
    padding:0px !important;
    margin:0px !important;
    color:#c7c7c7;
}
.links,.pagination ul,.pager,.items-more ol {
    margin-left:0;
    padding-left:0;
    list-style:none;
}
.pagination ul li {
    float:left;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#000;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table td {
	padding:20px;
}
table th {
	padding:10px 20px 10px 20px;
	text-align:left;
	font-size:16px;
}
blockquote {
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 21px 0px;
    position: relative;
    color:#fff;
    background-color:#000;
}
blockquote cite {
    font-size:14px;
    line-height:1.5;
    display:block;
    margin-top:20px;
    text-align:right;
}
#ascensorBuilding {
	overflow:hidden !important;
    background-color:#000;
}
#ascensorBuilding article {
    overflow: hidden !important;
    background-color:#000;
}

/* ================= HEADER ================== */

header
{
    position:fixed;
    left:20px;
    top:0px;
    height:auto;
    width:240px;
    z-index:9999;
    text-align:center;
    margin-top:-200px;
}
header h1 {
    font-size:55px;
    line-height:1.3;
    background-color:#000;
    padding:10px;
}
header img
{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}

/* ================= MAIN MENU ================== */
#mobile-menu
{
    position:fixed;
    z-index:9998;
    left:0px;
    top:0px;
    display:none;
    padding-left:150px;
    height:95px;
    line-height:95px;
    width:100%;
    background-color:rgba(0,0,0,0.8);
    font-size:22px;
    background-image:url('../images/bottom-s.png');
    background-repeat:no-repeat;
    background-position:98% center;
}
#mobile-menu:hover
{
    cursor:pointer;
    color:#fff;
}
.menu-close
{
    background-image:url('../images/top-s.png') !important;
}
nav
{
    position:fixed;
    z-index:9998;
    left:0px;
    top:0px;
    height:60px;
    background-color:#000;
    font-size:18px;
}
nav ul
{
    list-style:none;
    margin:0;
    display:inline-block;
    padding-left:275px;
    padding-right:15px;
    position:relative;
    margin-left:-120%;
}
#main-menu ul:after {
	left: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
nav li
{
    float:left;
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    line-height:60px;
    height:60px;
    cursor:pointer;
}
nav li a
{
    color:#fff;
    text-decoration:none;
}
nav li a:hover
{
    color:#fff;
}
nav ul li a::before,
nav ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

nav ul li a::before {
	margin-right: 10px;
	content: '|';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

nav ul li a::after {
	margin-left: 10px;
	content: '|';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

nav ul li a:hover::before,
nav ul li a:hover::after,
nav ul li a:focus::before,
nav ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#main-menu
{
    width:100%;
    background-color:rgba(0,0,0,0.8);
}
#sub-menu
{
    width:auto;
    min-width:50%;
    background-color:transparent;
}
#sub-menu ul, #sub-menu li
{
    background-color:#000;
}
#sub-menu ul:after {
    border: solid transparent;
	border-color: transparent;
	border-left-color: #000;
    left: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 30px;
	top: 50%;
	margin-top: -30px;
}

/* ================= PAGES ================== */

.page-content
{
    position:absolute;
    width:600px;
    right:0px;
    top:0px;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}
.page-content-small
{
    position:absolute;
    width:450px;
    right:0px;
    top:0px;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    overflow-y:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}
.content
{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top:90px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.content img
{
    max-width:100%;
    height:auto;
}
/* ================= SLIDER ================== */

.slider_bg{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}
.slider_bg img{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index: 1;
	display:none;
}
.slider_content{
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:10;
	display:none;
    background-color:#000;
    color:#fff;
	margin:0px;
    padding:15px;
}
.slider_content h2
{
    line-height:1;
    margin:0px;
}
.slider_content.showcontent{
	display:block;
}
.slider_loading{
	position:fixed;
	top:0;
	left:0;
	margin:0px;
    width:100%;
    height:100%;
	z-index:99999999999;
}
.slider_next,
.slider_prev{
	width:100px;
	height:100px;
	position:absolute;
	right:20px;
	z-index:100;
	cursor:pointer;
	opacity:0.5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color:#000;
    padding:20px;
    -webkit-transition:opacity 0.4s ease-in-out;
	-moz-transition:opacity 0.4s ease-in-out;
	-o-transition:opacity 0.4s ease-in-out;
	-ms-transition:opacity 0.4s ease-in-out;
}
.slider_next{
	bottom:20px;
    background-image:url('../images/bottom.png');
    background-repeat:no-repeat;
    background-position:center center;
}
.slider_prev{
	top:80px;
    background-image:url('../images/top.png');
    background-repeat:no-repeat;
    background-position:center center;
}
.slider_next:hover,
.slider_prev:hover{
	opacity:0.9;
}

/* ================= GALLERY BOXES ================== */

.gallery
{
    margin:0px;
    padding:0px;
    width:100%;
}
.gallerylink {
    font-size:18px;
    line-height:2;
}
.gallery figure {
	margin: 0;
	position: relative;
    margin-top:30px;
}

.gallery figure img {
	width: 100%;
    height:auto;
	display: block;
	position: relative;
}

.gallery figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
	color: #fff;
    height: 58px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.gallery figcaption span {
	margin: 0;
	padding: 0;
	color: #fff;
    line-height:1.5;
    font-size:24px;
}
.gallery figure {
	overflow: hidden;
}
.gallery figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
    width:100%;
}
.no-touch .gallery figure:hover img,
.gallery figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.no-touch .gallery figure:hover figcaption,
.gallery figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

/* ================= TESTIMONIALS ================== */

#quote_wrap
{
    width:100%;
    position:relative;
    min-height:130px;
    margin-top:30px;
}
#quote_wrap p
{
    margin-bottom:0px !important;
}
#quote_wrap img
{
    width:100%;
    height:auto;
    float:left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.testimonial-item
{
    width:100%;
}
.item-left
{
    float:left;
    width:30%;
    padding-right:25px;
}
.item-right
{
    float:right;
    width:70%;
    padding-right:5px;
}
.item-full 
{
    float:left;
    width:100%;
    padding-right:5px;
}
.item-client
{
    text-align:right;
    padding-top:10px;
    font-size:16px;
}

/* ================= ARTISTS ================== */

.grid {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 100%;
	margin: 0;
    margin-bottom:27px;
	padding: 0px;
	text-align: left;
	position: relative;
}
.grid li:last-child {
    margin-bottom:-3px;
}

.grid figure {
	margin: 0;
	position: relative;
    overflow: hidden;
}

.grid figure img {
	width: 100%;
    height:auto;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #000;
	color: #c7c7c7;
    font-size:12px;
}

.grid figcaption h4 {
	margin-bottom:10px;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
    text-decoration:none;
     -webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
    font-size:13px;
}
.grid figcaption a:hover {
	background: #fff;
	color: #000;
}

.grid figure > div {
	overflow: hidden;
}

.grid figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .grid figure:hover img,
.grid figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.grid figcaption {
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .grid figure:hover figcaption,
.grid figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.grid figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* ================= FAQ ================== */

.faq {
    margin-top:-10px;
    margin-bottom:-10px;
}
.accordion-header {
	margin:0;
	padding:10px 0px 10px 0px;
	cursor:pointer;
	text-align:left;
    font-size:18px;
    -webkit-transition:background-color 0.4s ease-in-out, padding 0.8s linear, color 0.4s ease-in-out;
	-moz-transition:background-color 0.4s ease-in-out, padding 0.8s linear, color 0.4s ease-in-out;
	-o-transition:background-color 0.4s ease-in-out, padding 0.8s linear, color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out, padding 0.8s linear, color 0.4s ease-in-out;
}
.accordion-header:hover {
    background:url(../images/down.png);
	background-repeat:no-repeat;
	background-position:right 50%;
}
.active-header {
	color:#fff;
    font-size:22px;
    padding-left:20px;
    margin-top:10px;
}
.active-header:hover {
    background-image:none;
    color:#fff;
}
.accordion-content {
	display:none;
	padding:20px;
	width:100%;
    background-color:#000;
    margin-bottom:10px;
}

/* ================= RESPONSIVE GOOGLE MAP ================== */

.google-map {
    position:relative;
    height:100%;
    overflow:hidden;
}
.google-map2 {
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
}
.google-map iframe, .google-map2 iframe{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}

/* ================= CONTACT ================== */

input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea
{
    border: 1px solid #000;
    width: 80%;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 14px;
    margin: 0px 0px 11px 0px;
    padding: 5px 10px 5px 10px;
    height: 35px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background-color: rgba(0,0,0,0.5);
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    color:#fff;
}
input[type="text"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="date"].oversize {
	font-size:15px;
	padding:4px 5px
}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="password"]:focus, textarea:focus {
	outline:none !important;
}
input[type="submit"] {
	margin-top:14px;
}
textarea {
	height:100px;
	width:100%;
	margin-bottom:0px !important;
}
.button, input[type="submit"] {
	width: auto;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	margin: 5px 20px 0px 0px;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
	border: none !important;
}
.button:hover, input[type="submit"]:hover {
	background-color:#000;
}
.searchform {
    width:100% !important;
    display:inline-block;
    position:relative;
    margin-bottom:25px;
}
.searchform input[type="text"].searchtext {
    width:75% !important;
    float:left;
    margin:0px !important;
    height: 40px;
}
.searchform .button {
    width:25% !important;
    position:absolute;
    top:0;
    right:0;
    margin:0px;
    line-height: 20px;
    height:40px;
}
.contact-info h1 {
    padding-bottom:5px;
}
#mobile-map {
	position:relative;
	padding-top:25px;
	padding-bottom:67.5%;
	height:0;
	overflow:hidden;
	margin-top:20px;
	margin-bottom:20px;
    display:none;
}
#mobile-map iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	outline:none;
	border: none;
}

/* ================= SOCIAL ICONS ================== */

.socialbox {
	margin-top:30px;
}
.social-icons {
	list-style-type:none;
	float:left;
	display:block;
	margin:0px;
	padding-left:0px;
    padding-right:0px;
    padding-top:10px;
    padding-bottom:25px;
	width:105%;
}
.social-icons li {
	float:left;
	display:block;
	position:relative;
	margin-right:10px;
}
.social-icons li img {
	width:48px;
}
.social-icons li:last-child {
	margin-left:0px !important;
	margin-right:0px !important;
}
.social-icon {
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
    opacity:0.5;
}
.social-icon:hover {
	opacity: 1;
}
/* ================= BLOG ================== */

.blog-content {
	margin-top:30px;
}
.tagsicon, .usericon, .categoryicon, .dateicon {
    line-height:30px;
}
.tagsicon a, .usericon a, .categoryicon a, .dateicon a {
    background-color:transparent !important;
    text-align: left !important;
	padding: 0px !important;
    position: relative !important;
	bottom: auto !important;
	right: auto !important;
    color: #c7c7c7 !important;
}
.tagsicon a:hover, .usericon a:hover, .categoryicon a:hover, .dateicon a:hover {
    background-color:transparent !important;
    color:#fff !important;
}
.tagsicon {
    background-image: url('../images/tags.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
}
.usericon {
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
}
.categoryicon {
    background-image: url('../images/category.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
}
.dateicon {
    background-image: url('../images/date.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
}
.next a, .previous a {
    font-size:14px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    line-height:2;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
    color:#fff !important;
    background-color:#000;
}
.previous {
    float:left;
    width:50%;
}
.next {
    float:right;
    text-align:right;
    width:50%;
}
.read-more {
    color:#fff !important;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    line-height:2;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.read-more:hover {
    background-color:#000;
}
/* ================= RESPONSIVE VIDEO ================== */
 .flex-video {
    position:relative;
    padding-bottom:67.5%;
    height:0;
    overflow:hidden;
    margin-bottom:25px;
    margin-top:20px;
}
.flex-video.widescreen {
    padding-bottom:37.25%
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}
.errorbox {
    padding-top:10px;
}
/* ================= Footer ================== */

footer {
    position:fixed; 
    bottom:0; 
    left:0; 
    background-color:rgba(0,0,0,0.7); 
    color:#fff; 
    font-size:11px; 
    z-index:99999; 
    padding:10px;
    width:100%;
}


html.swipebox {
  overflow: hidden!important;
}
#swipebox-overlay img {
  border: none!important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}

#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}

#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}

#swipebox-slider .slide .swipebox-video-container {
  background:none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding:5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


#swipebox-slider .slide .swipebox-video-container .swipebox-video{
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{
  width: 100%!important; 
  height: 100%!important;
  position: absolute;
  top: 0; left: 0;
}

#swipebox-action, #swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  bottom: 0;
}

#swipebox-action.force-visible-bars {
  bottom: 0!important;
}

#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  top: 0;
}

#swipebox-caption.force-visible-bars {
  top: 0!important;
}

#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  border: none!important;
  text-decoration: none!important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  left: 40px;
}

#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 100px;
}

#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  right: 40px;
}

#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

#swipebox-slider.rightSpring {
  -moz-animation: rightSpring 0.3s;
  -webkit-animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
  -moz-animation: leftSpring 0.3s;
  -webkit-animation: leftSpring 0.3s;
}

@-moz-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-moz-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}
#swipebox-overlay {
  background: #000;
}

#swipebox-action, #swipebox-caption {
  background-color: rgba(0,0,0,0.7);
}

#swipebox-caption {
  color: white!important;
  font-size: 20px;
  line-height: 50px;
}
@media screen and (max-width: 800px) {
  #swipebox-action #swipebox-close {
    left: 0;
  }

  #swipebox-action #swipebox-prev {
    right: 60px;
  }

  #swipebox-action #swipebox-next {
    right: 0;
  }
}
@media only screen and (max-width:1024px) 
{
header
{
    width:200px;
}
nav
{
    font-size:16px;                                    
}                                     
nav ul
{
    padding-left:235px;
}
}
                
@media only screen and (max-width:800px) 
{
header
{
    margin-top:0px;
    width:175px;
} 
nav
{
    font-size:14px; 
    background-color:transparent;                                                    
}
#sub-menu ul
{
    background-color:rgba(0,0,0,0.8);
} 
#sub-menu li
{
    background-color:transparent;
} 
#sub-menu {
    width:100%;                                                   
}                                                        
nav ul
{
    width:100%;
    margin-left:0px;
    padding-left:210px;                                                 
}
nav li
{
    padding:0px;                                                  
}
nav ul:after {
	border:none !important;
}                                                   
h1 {
    font-size:46px;
}
h2 {
    font-size:40px;
}
h3 {
    font-size:34px;
}
h4, .comments_block h3 {
    font-size:28px;
}
h5 {
    font-size:22px;
}
h6 {
    font-size:18px;
} 
.slider_next,
.slider_prev{
	width:60px;
	height:60px;
}
.slider_next{
	bottom:20px;
    background-image:url('../images/bottom-s.png');
}
.slider_prev{
    top:auto;
	bottom:100px;
    background-image:url('../images/top-s.png');
}  
.page-content, .page-content-small
{
    width:100%;
}
.content
{
    padding-top:150px;
}                                    
#google-map
{
    display:none;
}
#google-map2
{
    display:none;
}                                                    
#mobile-map
{
    display:block;
}
input[type="text"], input[type="email"], input[type="number"], input[type="date"], textarea
{
    background-color:#000;                                                    
}
.button:hover {
	background-color:#fff;
    color:#000 !important;
}                                    
}
@media only screen and (max-width:640px) 
{                                                  
header
{
    width:140px;
    left:0px;
}
header img
{
    max-height:95px;
}                                                    
.content
{
    padding-top:110px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}                                            
h1 {
    font-size:42px;
}
h2 {
    font-size:38px;
}
h3 {
    font-size:32px;
}
h4, .comments_block h3 {
    font-size:26px;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:16px;
} 
#main-menu
{                                                                    
    top:95px;
    height:auto;
}
#sub-menu
{
    left:0px;
    height:auto;
}
#sub-menu ul
{
    background-color:#000;
} 
nav ul
{
    padding-left:10px;
}
.slider_next{
	bottom:10px;
    right:10px;
}
.slider_prev{
	bottom:90px;
    right:10px;
}
.slider_content{
	bottom:10px;
	left:10px;
    padding:10px;
}
#mobile-menu
{
   display:block;
}
#main-menu, #sub-menu
{
   display:none;
}                                                                
.grid li {
    margin-bottom:20px;
}                                                  
}
@media only screen and (max-width:480px) 
{                                                                                   
h1 {
    font-size:34px;
}
h2 {
    font-size:26px;
}
h3, .comments_block h3 {
    font-size:22px;
}
h4 {
    font-size:18px;
}
h5 {
    font-size:15px;
}
h6 {
    font-size:13px;
} 
p, .searchbox .button {
    font-size:12px;
} 
.searchbox .button {
    padding-left:0px;
    padding-right:0px;                                                                                    
}                                                                                        
.grid figcaption {
    font-size:10px;
}
.grid figcaption a {
    font-size:12px;
}
.accordion-header {
    font-size:16px;
}                                                                   
.active-header {
    font-size:20px;
}
.grid figcaption span {
    display:none;
}
.tagsicon, .usericon, .categoryicon{
    display:none;
}
.dateicon {
    background-image: none;
    padding-left: 0px;
    font-size:14px;
}                                                                    
}
@media only screen and (max-height:320px) 
{
header
{
    width:80px;
}                                                                                                
header img
{
    max-height:55px;
}
#mobile-menu
{
    height:55px;
    line-height:55px;
    padding-left:90px; 
    font-size:16px;                                                                                        
}                                                                                    
#main-menu
{
    top:55px;
    left:0px;
    font-size:12px;                                                                                    
}
#sub-menu
{
    font-size:12px;                                                                                    
}                                                                                                    
.slider_content{
    display:none !important;                                                                                    
} 
.content
{
    padding-top:70px;
} 
.grid figcaption span {
    display:none;
}                                                                                                    
}                                                                                                    