.icon-48-galleryitems {
      background-image: url(../images/l_galleryitems.png);
      padding-left:60px!important;
}

.icon-48-galleryitem {
      background-image: url(../images/l_galleryitems.png);
      padding-left:60px!important;
}

