.icon-48-sections {
      background-image: url(../images/l_sections.png);
      padding-left:60px!important;
}

.icon-48-section {
      background-image: url(../images/l_sections.png);
      padding-left:60px!important;
}

