.icon-48-sliderimages {
      background-image: url(../images/l_sliderimages.png);
      padding-left:60px!important;
}

.icon-48-sliderimage {
      background-image: url(../images/l_sliderimages.png);
      padding-left:60px!important;
}

